html {
  width: 100%; 
  width: 100vw;
}

body{
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
}

.inline {
  display: inline-block;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

/*
input { 
  width: 100%; 
  margin-bottom: 10px; 
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
*/

input, select{
    font-size:12px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    height:15px;
  /*border: 1px solid rgba(0,0,0,0.3);*/
  border-radius: 1px;
  /*box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);*/
}

.box {
 -moz-border-radius: 15px;
 border-radius: 15px;
 } 

.box_hollow{

  border-style: solid;
  border-color: #ebebeb #ebebeb;
}

hr{
  width:80%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ebebeb;
  margin: 1em 0;
  padding: 0; 
}

#loading_div{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index:100;
  background-color:rgba(0, 0, 0, 0);
}

#loading_gif{
  position: fixed;
  left: 45%;
  top: 40%;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');


#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}

ul.tab_menu {
  list-style-type: none;
  text-align:center;
  margin:0;
  padding-top: 5px;
  background-color: #092756;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

ul.tab_menu li {
  display: inline-block;
  margin-right:-12px;
  padding-top: 30px;
}

ul.tab_menu li a {
  display: inline-block;
  color: #FFF;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul.tab_menu li a span {
  width:100%;
  display: block;
  border-right: 1px solid #FFF;
  padding-right: 14px;
}

ul.tab_menu li.last a span {
  border-right: 0px solid #FFF;
}

ul.tab_menu li.active a{
  background-color: #FFF;
  color: #000;
}


ul.tab_menu li a {
  position: relative;
}

ul.tab_menu li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: tomato;
  border-radius: 15px;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}

ul.tab_menu li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(0.6);
  transform: scaleX(0.6);
}

input:read-only {
  font-size: 18px;
  background-color: rgba(0,0,0,0);
  min-height: 50px !important;
}

input:-moz-read-only { /* For Firefox */
  font-size: 18px;
  background-color: rgba(0,0,0,0);
  min-height: 50px !important;
}



.tab_menu_class {
  position:relative;
  width:100%;
  min-width:300px;
  z-index: 9
}

.fixed {
  position:fixed;
  top:-30px;
  z-index: 11;
}

.select_filter{
  min-width:150px;
  min-height:150px;
}

/*
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f0f0'; }
label[for*='2']:before { content: '\f0c0'; }
label[for*='3']:before { content: '\f0f0'; }
label[for*='4']:before { content: '\f0f0'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
*/